In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("per_token_loss.csv")

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,501,502,503,504,505,506,507,508,509,510
0,4.085172,9.934204,8.996014,11.504110,9.986458,5.382188,8.986745,7.447004,7.199303,4.985841,...,7.789421,5.581819,8.445265,3.161999,8.101936,2.602781,5.626294,8.515235,11.292056,7.314084
1,10.822108,9.538289,11.703181,2.757541,6.331216,6.654324,3.294222,9.728536,5.596427,7.050842,...,5.177627,8.263029,4.265507,5.648528,8.326301,3.465414,1.184136,9.803685,10.910895,8.787147
2,3.437046,4.038119,7.277862,6.908977,7.173857,9.113975,4.560616,8.288863,3.227307,11.024434,...,8.091841,10.495870,4.027703,11.385570,8.660601,6.807249,3.459799,4.571454,7.038602,2.673347
3,9.886657,3.729474,8.190474,9.948400,9.285893,11.868690,10.385446,5.357697,10.134768,3.330999,...,11.794025,7.370442,10.625010,11.624344,9.877463,12.368013,4.121586,4.333259,7.558920,7.106237
4,7.346539,13.069561,12.154629,11.288257,7.264080,4.670476,4.505062,10.830602,10.596910,4.051549,...,9.952202,9.714775,2.942371,10.537815,3.000067,13.041159,10.456656,6.487325,2.987190,9.749381